###### Heroes Of Pymoli Data Analysis
* Of the 576 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (63%) with secondary group falling between 15-19 (23.6%).

* There were 780 purchases for a total revenue $2.379.77.	

* The most profitable item, Oathbreaker, Last Hope of the Breaking Storm followed by Nirvana and Fiery Glass Crusader.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total=purchase_data["SN"].nunique()

In [3]:
total_players = pd.DataFrame(
    {"Total Players": [total] })
total_players.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
#Run basic calculations to obtain number of unique items, average price, etc.
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
#looking for unique items in the Item Name column
items=purchase_data["Item ID"].nunique()

In [5]:
#calculates the average price
avg_price=purchase_data["Price"].mean()

In [6]:
#counts number of transactions
total_purchases=purchase_data["Purchase ID"].count()

In [7]:
#calculates total revenue by summing the price colunm
total_revenue=purchase_data["Price"].sum()

In [8]:
#Create a dataframe witin the 
total_analysis = pd.DataFrame(
    {"Total Unique Items": [items], "Total Purchases": [total_purchases], "Total Revenue": [total_revenue], "Average Price": [avg_price] })
total_analysis.head()

   Total Unique Items  Total Purchases  Total Revenue  Average Price
0                 183              780        2379.77       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
gen=purchase_data.groupby(["Gender"])
male_female=gen["SN"].nunique()
male_female=male_female.rename("Total Counts")

In [10]:
#Total Gender counts
percentage=(male_female/sum(male_female))*100
percentage_name=percentage.rename("Percentage of Players")

In [11]:
# contantenate gender and percentage data series into a dataframe named gender_demo
gender_demo=pd.concat([male_female, percentage_name], axis=1)
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].astype(float).map("{:,.2f}%".format)
gender_demo=gender_demo.sort_values(["Total Counts"], ascending=False)
gender_demo.head()

                       Total Counts Percentage of Players
Gender
Male                            484                84.03%
Female                           81                14.06%
Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
#orginal data frame purchase_date and grouping by gender
#then assigning it to variable purchase_analysis
purchase_analysis=purchase_data.groupby("Gender")

In [13]:
gender=purchase_data["Gender"].value_counts()

In [14]:
purchase_count=purchase_analysis["Purchase ID"].count()

In [15]:
avg_price=purchase_analysis["Price"].mean()

In [16]:
sum_price=purchase_analysis["Price"].sum()

In [17]:
pp_avg_price=(sum_price /male_female)

In [19]:
gpa=pd.DataFrame(columns={"Purchase ID" : [purchase_count],"Average Price Price": [avg_price], "Price": [sum_price],"Avg Total Purchase per Person":[pp_avg_price]})

In [20]:
#RENAME COLUMNS NOT WORKING
#gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].astype(float).map("{:,.2f}%".format)
purchase_df=pd.DataFrame({"Purchase ID" : purchase_count,"Average Price Price": avg_price, "Price": sum_price,"Avg Total Purchase per Person":pp_avg_price})
purchase_df["Average Price Price"] = purchase_df["Average Price Price"].astype(float).map("${:,.2f}".format)
purchase_df["Price"] = purchase_df["Price"].astype(float).map("${:,.2f}".format)
purchase_df["Avg Total Purchase per Person"] = purchase_df["Avg Total Purchase per Person"].astype(float).map("${:,.2f}".format)
purchase_df

,Purchase ID,Average Price Price,Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
bins=[0,9,14,19,24,29,34,39,1000]
bin_names=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [22]:
purchase_data["Age_group"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

In [23]:
age_count=purchase_data["Age_group"].value_counts()

In [24]:
percentage_players=(age_count/total)*100

In [25]:
percent_players=purchase_data.groupby("Age_group").count()

In [26]:
pd.DataFrame({"Total Counts": age_count, "Percentage of Players": percentage_players}).sort_index()

       Total Counts  Percentage of Players
<10              23               3.993056
10-14            28               4.861111
15-19           136              23.611111
20-24           365              63.368056
25-29           101              17.534722
30-34            73              12.673611
35-39            41               7.118056
40+              13               2.256944

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
# Place the data series into a new column inside of the DataFrame
purchase_data["Age_group"] = pd.cut(purchase_data["Age"], bins, labels=bin_names)

In [28]:
# Create a GroupBy object based upon "Age Group"
age_group=purchase_data.groupby(["Age_group"])

In [29]:
# Find how many rows fall into each bin
print(age_group["Purchase ID"].count())

Age_group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [31]:
avg_price_age=age_group["Price"].mean()

In [32]:
total_purchase_value=age_group["Price"].sum()

In [33]:
purchase_count=age_group["Purchase ID"].count()

In [34]:
purchasing_analysis_by_age=pd.DataFrame({"Total Counts": age_count, "Average Purchase Price": avg_price_age, "Total_Purchase_Value": total_purchase_value}).sort_index()
purchasing_analysis_by_age["Average Purchase Price"] = purchasing_analysis_by_age["Average Purchase Price"].astype(float).map("${:,.2f}".format)
purchasing_analysis_by_age["Total_Purchase_Value"] = purchasing_analysis_by_age["Total_Purchase_Value"].astype(float).map("${:,.2f}".format) 
purchasing_analysis_by_age

       Total Counts Average Purchase Price Total_Purchase_Value
10-14            28                  $2.96               $82.78
15-19           136                  $3.04              $412.89
20-24           365                  $3.05            $1,114.06
25-29           101                  $2.90              $293.00
30-34            73                  $2.93              $214.00
35-39            41                  $3.60              $147.67
40+              13                  $2.94               $38.24
<10              23                  $3.35               $77.13

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
name = purchase_data.groupby(['SN'])

In [36]:
ts_avg_price=name["Price"].mean()

In [37]:
ts_price=name["Price"].sum()

In [38]:
ts_id=name["Price"].count()

In [39]:
top_spenders_df=pd.DataFrame({"Purchase Counts": ts_id, "Average Purchase Price": ts_avg_price, "Total Purchase Value": ts_price}).sort_values(["Purchase Counts"],ascending=False)
top_spenders_df.head()

             Purchase Counts  Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                3.792000                 18.96
Iral74                     4                3.405000                 13.62
Idastidru52                4                3.862500                 15.45
Asur53                     3                2.480000                  7.44
Inguron55                  3                3.703333                 11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
#Retrieve the Item ID, Item Name, and Item Price columns
mpi=purchase_data[["Item ID", "Item Name", "Price"]]

In [41]:
mpi_group=mpi.groupby(["Item ID", "Item Name"])

In [43]:
mpi_id=mpi_group["Price"].count()

In [45]:
item_price=mpi_group["Price"].sum()

In [46]:
most_popular=pd.DataFrame({"Purchase Count": mpi_id, "Total Purchase Price": item_price}).sort_values(["Purchase Count"],ascending=False)
most_popular["Total Purchase Price"] = most_popular["Total Purchase Price"].astype(float).map("${:,.2f}".format) 
most_popular.head()

,,Purchase Count,Total Purchase Price
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76
145,Fiery Glass Crusader,9,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$31.77
82,Nirvana,9,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [47]:
most_popular=pd.DataFrame({"Purchase Count": mpi_id, "Total Purchase Price": item_price}).sort_values(["Total Purchase Price"],ascending=False)
most_popular["Total Purchase Price"] = most_popular["Total Purchase Price"].astype(float).map("${:,.2f}".format)
most_popular.head()

,,Purchase Count,Total Purchase Price
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$50.76
82,Nirvana,9,$44.10
145,Fiery Glass Crusader,9,$41.22
92,Final Critic,8,$39.04
103,Singed Scalpel,8,$34.80